pnltab {
  background-image: none;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

pnltab:hover:checked,
pnltab:checked {
  border-color: transparent;
  border-bottom-color: @theme_selected_bg_color;
}

pnltab:hover {
  border-color: transparent;
  border-bottom-color: @borders;
}

pnltab label {
  color: @theme_fg_color;
  font-size: 0.7em;
  font-weight: bold;
}

pnltab button {
  border: none;
  color: transparent;
  padding: 0;
  margin: 0;
  background: transparent;
  box-shadow: none;
}

pnltab button:hover,
pnltab button:checked,
pnltab:hover button,
pnltab:checked button {
  color: alpha(@theme_fg_color, 0.55);
}

pnltab button:checked:active,
pnltab button:hover:active {
  color: alpha(@theme_fg_color, 0.65);
}


pnltabstrip.left pnltab:checked {
  border-color: transparent;
  border-left-color: @theme_selected_bg_color;
}

pnltabstrip.right pnltab:checked {
  border-color: transparent;
  border-right-color: @theme_selected_bg_color;
}

pnltabstrip {
  background-color: @theme_bg_color;
  padding-top: 3px;
  border-bottom: 1px solid @borders;
}


pnldockstack button.pinned {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0 6px 0 6px;
}


pnldockbin {
  border: 1px solid alpha(@borders, 0.75);
  -PnlDockBin-handle-size: 1;
}

pnldockwidget {
  background-color: transparent;
}

pnltab > * {
  padding: 0 3px 0 3px;
}


pnldockoverlayedge {
  background-color: @theme_bg_color;
}
pnldockoverlayedge.top pnltabstrip pnltab:checked {
  border-bottom-color: @theme_selected_bg_color;
}
pnldockoverlayedge.left pnltabstrip pnltab:checked {
  border-right-color: @theme_selected_bg_color;
}
pnldockoverlayedge.right pnltabstrip pnltab:checked {
  border-left-color: @theme_selected_bg_color;
}
pnldockoverlayedge.bottom pnltabstrip pnltab:checked {
  border-top-color: @theme_selected_bg_color;
  background: blue;
}


textview {
  padding: 12px;
}


pnldockbar button {
 border: none;
 background: transparent;
 box-shadow: none;
 margin: 12px 3px 0 3px;
 padding: 0px;
 font-weight: bold;
 font-size: 0.8em;
 outline-offset: 1px;
}




pnldockbinedge.left:not(.pinned) {
  background: @theme_bg_color;
  border: 5px solid blue;
  box-shadow: 5px 0px 15px black;
  margin-right: 50px;
}
pnldockbinedge.right:not(.pinned) {
  background: @theme_bg_color;
  border: 5px solid blue;
  box-shadow: 5px 0px 15px black;
  margin-left: 20px;
}
pnldockbinedge.bottom:not(.pinned) {
  background: @theme_bg_color;
  border: 5px solid blue;
  box-shadow: 0px 5px 15px black;
  margin-top: 20px;
}

pnldockbinedge.pinned {
  box-shadow: none;
}

pnldockpaned {
  -PnlMultiPaned-handle-size: 1;
}

pnldockpaned .handle {
  border: 1px solid blue;
}
